<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
 	<!-- 	<property name="prefix" value="/WEB-INF/jsp/" /> -->
		<property name="suffix" value=".jsp" />
		<property name="order" value="10" />
	</bean>

	<bean name="/index.htm"
		class="courselink.kyoto_u.ac.jp.tool.CourselinkController" scope="session" init-method="init">
		<property name="projectLogic" ref="courselink.kyoto_u.ac.jp.logic.ProjectLogic"/>
	</bean>

</beans>
