<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1" >

	<display-name>sakai.alert</display-name>

	<!-- JSF 2 stuff -->

	<servlet>
	  <servlet-name>Faces Servlet</servlet-name>
	  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
          <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Faces Servlet</servlet-name>
	  <url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<context-param>
	  <param-name>javax.faces.PROJECT_STAGE</param-name>
	  <param-value>Development</param-value>
	</context-param>
	<session-config>
          <session-timeout>30</session-timeout>
	</session-config>
	<!--
	<welcome-file-list>

		<welcome-file>/jsf/index.xhtml</welcome-file>
	</welcome-file-list>
	-->

	<!-- Original JstTool
	<servlet>
	  <servlet-name>sakai.alert</servlet-name>
	  <servlet-class>org.sakaiproject.alert.util.JsfTool</servlet-class>
		<init-param>
			<param-name>default</param-name>
			<param-value>index.jsf</param-value>
		</init-param>
		<init-param>
			<param-name>path</param-name>
			<param-value>/jsf</param-value>
		</init-param>
          <init-param>
            <param-name>default.last.view</param-name>
            <param-value>true</param-value>
          </init-param>
          <load-on-startup>0</load-on-startup>
  	</servlet>
  	-->

	<servlet>
		<servlet-name>sakai.alert</servlet-name>
		<servlet-class>org.sakaiproject.alert.util.JsfTool</servlet-class>
		<init-param>
			<param-name>main-page</param-name>
			<param-value>/jsf/manageEmergencyInfo.xhtml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

<!--
    <servlet>
        <servlet-name>sakai.alert</servlet-name>
        <servlet-class>uk.ac.cam.caret.sakai.WebappToolServlet</servlet-class>
        <init-param>
            <param-name>main-page</param-name>
            <param-value>/index.jsp</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
-->

        <!-- MyFaces Params -->
	<!-- how much do we need?
        <context-param>
          <param-name>org.apache.myfaces.PRETTY_HTML</param-name>
          <param-value>false</param-value>
        </context-param>
        <context-param>
          <param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
          <param-value>true</param-value>
        </context-param>
        <context-param>
          <param-name>org.apache.myfaces.READONLY_AS_DISABLED_FOR_SELECTS</param-name>
          <param-value>true</param-value>
        </context-param>
        <context-param>
          <param-name>org.apache.myfaces.VALIDATE</param-name>
          <param-value>false</param-value>
        </context-param>
	-->

	<!-- Sakai Request Filter -->
	<filter>
	  <filter-name>sakai.request</filter-name>
	  <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
	  <!-- If you need to do uploads you will need this -->
	  <init-param>
	    <param-name>upload.enabled</param-name>
	    <param-value>false</param-value>
	  </init-param>
	</filter>
	<filter-mapping>
	  <filter-name>sakai.request</filter-name>
	  <servlet-name>sakai.alert</servlet-name>
	  <dispatcher>REQUEST</dispatcher>
	  <dispatcher>FORWARD</dispatcher>
	  <dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<!-- Sakai Tool Listener -->
	<listener>
	  <listener-class>org.sakaiproject.util.ToolListener</listener-class>
	</listener>
	
	<!-- Sakai Spring Listener -->
	<listener>
	  <listener-class>org.sakaiproject.util.ContextLoaderListener</listener-class>
	</listener>
	
	<!--
	<welcome-file-list>
	  <welcome-file>index.jsf</welcome-file>
	  <welcome-file>index.jsp</welcome-file>
	  <welcome-file>index.html</welcome-file>
	</welcome-file-list>
	-->

</web-app>
