<?xml version="1.0" encoding="UTF-8"?>

<!--  Updated to Servlet 2.4 PAFH 8/10/2006 -->
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!--  Order changed to meet DTD - PAFH 8/10/2006 -->
   <display-name>osp-glossary</display-name>
    <description>OSP Glossary</description>

   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/components.xml</param-value>
   </context-param>
   
    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
        <init-param>
            <param-name>upload.enabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>osp.glossary</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>springapp</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

   <servlet>
      <servlet-name>springapp</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<!--       <servlet-class>org.sakaiproject.metaobj.shared.control.servlet.SakaiComponentDispatchServlet</servlet-class>-->
		<load-on-startup>1</load-on-startup>
   </servlet>

   <servlet>
      <servlet-name>osp.glossary</servlet-name>
      <servlet-class>org.sakaiproject.spring.util.SpringTool</servlet-class>
      <init-param>
            <param-name>default</param-name>
            <param-value>glossaryList</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value></param-value>
        </init-param>
      <load-on-startup>2</load-on-startup>
   </servlet>

   <servlet>
      <servlet-name>repository</servlet-name>
      <servlet-class>org.sakaiproject.metaobj.shared.control.servlet.FileDownloadServlet</servlet-class>
      <load-on-startup>2</load-on-startup>
   </servlet>

   
   <listener>
      <listener-class>org.sakaiproject.util.ContextLoaderListener</listener-class>
   </listener>
<!-- 
   <listener>
      <listener-class>org.sakaiproject.metaobj.utils.BeanFactory</listener-class>
   </listener>
 -->
    <listener>
        <listener-class>org.sakaiproject.util.ToolListener</listener-class>
    </listener>
<!--     
    <listener>
        <listener-class>org.sakaiproject.metaobj.shared.control.SessionListener</listener-class>
    </listener>
-->

    <servlet-mapping>
      <servlet-name>springapp</servlet-name>
      <url-pattern>*.osp</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
     <servlet-name>repository</servlet-name>
     <url-pattern>/repository/*</url-pattern>
  </servlet-mapping>

</web-app>