<?xml version="1.0" encoding="UTF-8"?>

<!-- Changed spec level to 2.4 PAFH 8/22/2006 -->
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

   <display-name>osp-wizard</display-name>
   <description>OSP Wizard</description>
    
   <context-param>
       <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
       <param-value>server</param-value>
   </context-param>
   
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>true</param-value>
    </context-param>   

   <servlet>
       <servlet-name>Faces Servlet</servlet-name>
       <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
       <load-on-startup> 2 </load-on-startup>
   </servlet>
   
   <servlet>
<!--      <servlet-name>sakai.syllabus.filepicker</servlet-name>-->
      <servlet-name>osp.wizard</servlet-name>
      <servlet-class>org.theospi.portfolio.shared.control.servlet.HelperAwareJsfTool</servlet-class>
<!--      <init-param>
            <param-name>default</param-name>
            <param-value>listStructuredArtifactDefinitions</param-value>
        </init-param>-->
        <init-param>
            <param-name>path</param-name>
            <param-value>/wizard</param-value>
        </init-param>

        <init-param>
            <param-name>default</param-name>
            <param-value>listWizards</param-value>
        </init-param>
         <init-param>
            <param-name>default.last.view</param-name>
            <param-value>false</param-value>
        </init-param>
        <!--  Changed ordering - PAFH 8/22/2006 -->
      <load-on-startup>2</load-on-startup>
   </servlet>
   
   <servlet>
      <servlet-name>osp.exposedwizard</servlet-name>
      <servlet-class>org.theospi.portfolio.shared.control.servlet.HelperAwareJsfTool</servlet-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>/wizard</param-value>
        </init-param>

        <init-param>
            <param-name>default</param-name>
            <param-value>runWizardGuidance</param-value>
        </init-param>
         <init-param>
            <param-name>default.last.view</param-name>
            <param-value>false</param-value>
        </init-param>
        <!--  Changed ordering - PAFH 8/22/2006 -->
      <load-on-startup>2</load-on-startup>
   </servlet>

   <servlet>
      <servlet-name>repository</servlet-name>
      <servlet-class>org.sakaiproject.metaobj.shared.control.servlet.FileDownloadServlet</servlet-class>
      <load-on-startup>2</load-on-startup>
   </servlet>
   
   <servlet>
      <servlet-name>osp.wizard.run</servlet-name>
      <servlet-class>org.theospi.portfolio.shared.control.servlet.HelperAwareJsfTool</servlet-class>
      <init-param>
            <param-name>default</param-name>
            <param-value>runWizardGuidance</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>/wizard</param-value>
        </init-param>
      <init-param>
           <param-name>default.last.view</param-name>
           <param-value>false</param-value>
       </init-param>
        <!-- Changed ordering - PAFH 8/24/2006 -->
      <load-on-startup>2</load-on-startup>
   </servlet>
   
   
    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
    </filter>


<!-- 
   <filter-mapping>
       <filter-name>sakai.request</filter-name>
       <servlet-name>repository</servlet-name>
       <dispatcher>REQUEST</dispatcher>
       <dispatcher>FORWARD</dispatcher>
       <dispatcher>INCLUDE</dispatcher>
   </filter-mapping>
-->

   <servlet-mapping>
       <servlet-name>Faces Servlet</servlet-name>
       <url-pattern>*.jsf</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>repository</servlet-name>
     <url-pattern>/repository/*</url-pattern>
  </servlet-mapping>
   
   <filter-mapping>
       <filter-name>sakai.request</filter-name>
       <servlet-name>Faces Servlet</servlet-name>
       <dispatcher>REQUEST</dispatcher>
       <dispatcher>FORWARD</dispatcher>
       <dispatcher>INCLUDE</dispatcher>
   </filter-mapping>
   
   <filter-mapping>
       <filter-name>sakai.request</filter-name>
       <servlet-name>osp.wizard.run</servlet-name>
       <dispatcher>REQUEST</dispatcher>
       <dispatcher>FORWARD</dispatcher>
       <dispatcher>INCLUDE</dispatcher>
   </filter-mapping>
<!--
    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>springapp</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    -->
    
    
<!-- 
   <servlet>
      <servlet-name>springapp</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
   </servlet>

   <servlet>
      <servlet-name>repository</servlet-name>
      <servlet-class>org.sakaiproject.metaobj.shared.control.servlet.FileDownloadServlet</servlet-class>
      <load-on-startup>2</load-on-startup>
   </servlet>

-->

    <listener>
        <listener-class>org.sakaiproject.util.ToolListener</listener-class>
    </listener>



<!-- 
   <servlet-mapping>
     <servlet-name>springapp</servlet-name>
     <url-pattern>*.osp</url-pattern>
  </servlet-mapping>

   <servlet-mapping>
     <servlet-name>repository</servlet-name>
     <url-pattern>/repository/*</url-pattern>
  </servlet-mapping>
-->
</web-app>