<!-- $Id: assignment_macros.vm 94135 2011-06-27 14:25:22Z yorkadam@umich.edu $ -->
<!-- start:  assignment_macros.vm -->
#macro( propertyDetails $props )
	<span class="textPanelFooter">(
	#if (!$props.getBooleanProperty($props.NamePropIsCollection))
		$props.getPropertyFormatted($props.NamePropContentLength);
	#end
	$props.getPropertyFormatted($props.NamePropCreationDate)
	)</span>
#end
<!-- end:  assignment_macros.vm -->